# Sistema operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Ambiente local
.env
.env.local
*.local

# Dependências (se o projeto evoluir para ter build)
node_modules/
dist/
build/
